<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR - 23dereek</title>
    <link rel="stylesheet" href="static/index.css"> <!-- Enlace al archivo CSS -->
</head>
<body>
    <div class="container">
        <h1>OCR - 23dereek</h1>
        <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Subir archivo</button>
        </form>
    </div>

    <!-- Pantalla de carga (inicialmente oculta) -->
    <div id="loading">
        <p>Cargando, por favor espere...</p>
    </div>

    <script>
        const form = document.getElementById('uploadForm');
        const loading = document.getElementById('loading');

        // Escuchamos el evento de submit en el formulario
        form.addEventListener('submit', function() {
            // Mostrar pantalla de carga cuando se envía el formulario
            loading.style.display = 'flex';
        });
    </script>
</body>
</html>

<!-- @23dereek -->